output "full_time_trigger_name" {
  value = {{ .PROVIDER_SHORT_NAME }}_time_trigger.full_time_trigger.name
}

output "minimal_time_trigger_name" {
  value = {{ .PROVIDER_SHORT_NAME }}_time_trigger.minimal_time_trigger.name
}